@font-face {
  font-family: 'MADE Future';
  src: url('fonts/MADE_Future.otf');
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('fonts/Myriad_Pro_Regular.ttf');
}

html {
  overflow: visible;
}

* {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.languages-off button {
  border: none;
  height: 19px;
  cursor: pointer;
  width: 32px;
}

.navbar {
  margin: auto;
}

ul {
  position: fixed;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #18181b;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2020;
}

ul li {
  list-style: none;
  margin-left: 31px;
  margin-top: 20px;
  margin-right: 31px;
  margin-bottom: 13px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

a.sptf:hover {
  color: #357C3C
}

a.twt:hover {
  color: #573391;
}

a.ytb:hover {
  color: #EF6D6D;
}

a.inst:hover {
  color: #ff8243;
}

a.tkt:hover {
  color: #494953;
}

a.ctct:hover {
  color: #F5E8E4;
}


/** START - ALL - Button Search and display the download options & H1 & P **/

div.main-spotify div.content figure.rectangle2,
div.main-twitch div.content figure.rectangle2,
div.main-youtube div.content figure.rectangle2,
div.main-instagram div.content figure.rectangle2,
div.main-tiktok div.content figure.rectangle2 {
  margin-top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 0px;
  color: #000;
}

div.main-spotify div.content figure.rectangle2 button,
div.main-twitch div.content figure.rectangle2 button,
div.main-youtube div.content figure.rectangle2 button,
div.main-instagram div.content figure.rectangle2 button,
div.main-tiktok div.content figure.rectangle2 button {
  width: 200px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-size: 235%;
  font-family: 'Myriad Pro Regular';
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}


div.main-spotify div.content figure.rectangle2 button:disabled,
div.main-twitch div.content figure.rectangle2 button:disabled,
div.main-youtube div.content figure.rectangle2 button:disabled,
div.main-instagram div.content figure.rectangle2 button:disabled,
div.main-tiktok div.content figure.rectangle2 button:disabled {
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-size: 235%;
  transition: none;
  background-color: rgba(239, 239, 239, 0.3);
  cursor: auto;
}

div.main-spotify div.content figure.rectangle2 button:disabled:hover,
div.main-twitch div.content figure.rectangle2 button:disabled:hover,
div.main-youtube div.content figure.rectangle2 button:disabled:hover,
div.main-instagram div.content figure.rectangle2 button:disabled:hover,
div.main-tiktok div.content figure.rectangle2 button:disabled:hover {
  width: 200px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-size: 235%;
  transition: none;
  background-color: rgba(239, 239, 239, 0.3);
  cursor: auto;
}


div.main-spotify div.content figure.rectangle2 button:hover {
  background: #357C3C;
}

div.main-twitch div.content figure.rectangle2 button:hover {
  background: #573391;
}

div.main-youtube div.content figure.rectangle2 button:hover {
  background: #EF6D6D;
}

div.main-instagram div.content figure.rectangle2 button:hover {
  background: #ff8243;
}

div.main-tiktok div.content figure.rectangle2 button:hover {
  background: #494953;
}

.content h1 {
  padding-top: 60px;
  position: relative;
  margin-left: 46px;
  margin-right: auto;
  font-size: 44px;
  font-family: 'MADE Future';
  color: #fff;
}

.content p {
  position: relative;
  margin-top: 42px;
  text-align: center;
  font-size: 34px;
  font-family: 'MADE Future';
  color: #fff;
}


.rectangle-input {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    font-size: 235%;
    font-family: 'Myriad Pro Regular';
    border: none;
    color: #000;
}
/** END - ALL - Button Search and display the download options & H1 & P **/

/** Spotify **/

.main-spotify {
  position: relative;
  width: 100%;
  background: #1ed561;
  background-position: center;
  background-size: cover;
}

.spotify {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.rectangle1 {
  margin-top: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1031px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  color: #a6a6a6;
}

/** Twitch **/

.main-twitch {
  width: 100%;
  background: #9147ff;
  background-position: center;
  background-size: cover;
}

.twitch {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.rectangle1-twitch {
  margin-top: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1031px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  color: #a6a6a6;
}

/** YOUTUBE **/

.main-youtube {
  width: 100%;
  background: #ff0000;
  background-position: center;
  background-size: cover;
}

.youtube {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.rectangle1-youtube {
  margin-top: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1031px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  color: #a6a6a6;
}

/** Instagram **/

.main-instagram {
  width: 100%;
  background: -webkit-radial-gradient(32% 106%,
      circle cover,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%),
    -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -moz-radial-gradient(32% 106%,
      circle cover,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%),
    -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -ms-radial-gradient(32% 106%,
      circle cover,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%),
    -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -o-radial-gradient(32% 106%,
      circle cover,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%),
    -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: radial-gradient(circle farthest-corner at 32% 106%,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%),
    linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background-position: center;
  background-size: cover;
}

.instagram {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.rectangle1-instagram {
  margin-top: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1031px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  color: #a6a6a6;
}

/** Tiktok **/

.main-tiktok {
  width: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
}

.tiktok {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.rectangle1-tiktok {
  margin-top: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1031px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  color: #a6a6a6;
}

/** Footer **/

#footer {
  background: #eeeeee;
  padding: 0 0 30px 0;
  color: #555555;
  font-size: 14px;
}

#footer .footer-top {
  background: #f6f6f6;
  padding: 30px 0 1px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.logos {
  color: transparent;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

.icon-inner,
.ionicon,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

ion-icon {
  font-size: 32px;
  color: #18181b;
  --ionicon-stroke-width: 16px
}

/** INPUT RESPONSIVE **/

@media screen and (max-width: 1100px) {
  .rectangle1, 
  .rectangle1-twitch,
  .rectangle1-youtube,
  .rectangle1-instagram,
  .rectangle1-tiktok{
    width: 90%
  }
}

@media screen and (max-width: 1200px) {
  .content p {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  ul {
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 356px;
    width: 100%;
  }

  ul li {
    margin-right: var(--caca);
    margin-top: 0px;
    margin-bottom: 2px;
  }

  h1#spotify.testspotify {
    padding-top: 380px;
  }

  .content h1 {
    padding-top: 35px;
  }

  .main-spotify {
    height: 1161px;
  }

  footer#footer {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}

@media screen and (max-width:200px) {

  .spotify,
  .twitch,
  .youtube,
  .instagram,
  .tiktok {
    display: block;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }
}

@media screen and (max-width:413px) {

  #rectangle2 {
    margin-bottom: 10px;
  }
}